.accountbox{
    height:100vh;
    width:100vw;
    background-color:rgb(0, 0, 0);
    display:flex;
    align-items:center;
    position:relative;
    flex-direction:column;
    text-align:center;   
}

.namebox{
    margin-top:15vh;
    text-align:center;  
    overflow-x: hidden; 
}
.namebox h1{
    font-size:clamp(1vh,6vw,7vh);
    color:white;
}
.namebox h2{
    font-size:clamp(1vh,10vw,11vh);
    text-transform:capitalize;
    font-weight:bold;
    color:blue;  
    text-shadow:0 0 10px red, 0 0 50px red;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-top:5vh;     
}
#text h3{
    margin-top:8vh;
    color:white;
    font-size:clamp(1vh,8vw,9vh);    
}
#text marquee{
    color:white;
    font-size:clamp(1vh,5vw,6vh);
    margin-top:5vh;
}
#iconbox{
    height:20%;
    width:100%;                
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background-color:white;
    position:absolute;
    bottom:0;
}
#iconbox h6{
    color:black;
    font-size:clamp(1vh,4vw,5vh);
    margin-bottom:5vh;
    margin-top:1px;
}

#accounticon{
    height:20%;
    width:100%;    
    color:black;
    font-size:clamp(1vh,6vw,7vh);
    /* position:absolute;
    bottom:0; */
    display:flex;
    justify-content:center;
    align-items:center;
    gap:8vw;
}
a{
    color:inherit;
    text-decoration:none;
}
a:link{color:black;}
a:hover{color:blue;}
a:active{color:black;}
a:visited{color:black;}


@media(max-width:834px){
    #iconbox{
        height:20%;
        width:100%;            
        bottom:0;
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        background-color:white;
        position:absolute;
    }
    #iconbox h6{
        color:black;
        font-size:clamp(1vh,4vw,5vh);
        font-weight:bold;
    }

    #accounticon{
        height:20%;
        width:100%;       
        color:black;
        font-size:clamp(1vh,6vw,8vh);
        /* position:absolute; */
        /* bottom:0; */
        display:flex;
        justify-content:space-around;
        align-items:center;
      
    }
    .namebox h2{      
        font-size:clamp(1vh,9vw,10vh);
        font-weight:bold;      
        text-shadow:0 0 15px red, 0 0 50px red;
        font-family:'Times New Roman', Times, serif;
        margin-top:4vh;                  
    }
}